body{
    padding: 0%;
    margin: 10% !important;
    background: #fdfdfd;
    font-family: 'Open Sans', sans-serif;
}
.content{
  color: #72b4b1;
}
.container{
  background: #fdfbfb; 
  padding: 25px 50px !important;
}
h2{
  font-style: normal;
  font-size: 32px;
  color:black;
  padding: 50px 0px;
  
}
h3{
  font-style: normal;
  font-size: 20px !important;
  color:black;
  /* padding: 5px 0px; */
  
}

.body-content{
  color: #999999;
}
.heading{
  font-style: normal;
  font-size: 20px !important;
}
.tiles {
  
  /* FlexBox */
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: inherit;
  flex-wrap: wrap;
  
}

.card {
  padding: 15px 16px;
  margin: 2% 2%;
  /* Flexbox */
  width: 350px;
  border-radius: 5px !important;
  border-width: 0px !important;
}
.card img{
  margin-top: 40px !important;
  margin: 15px; 
  border-radius:50%; 
  width:50px;
   height:50px;
   position: absolute;
   top: 0;
   left: 15px;
}
.card p{
  margin-top: 25px !important;
  float: left;
  width: 250px;
}
.card .content{
  font-size: 15px;
  margin: 15px;
  width: 270px !important;

}
.card p strong{
  margin-top: 20px !important;
  padding: 15px 0 0 85px !important;
  font-weight:600;
  font-size:18px;  

}
.card p span{
  margin-top: 20px !important;
  padding: 15px 0 0 85px !important;
  font-size:16px;
  font-weight:400;
  color:#aab8c2;
}
a{
  text-decoration: underline !important;
  color: #999999 !important;
  
}
 
  .btn{
    color: #72b4b1 !important;
    border-color: #72b4b1 !important;
  }
  .btn:hover{
    color: white !important;
    border-color: #72b4b1 !important;
    background-color: #72b4b1 !important;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  